.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iconItem {
  flex: 1 1 20%;
  flex-grow: 1;
  margin-bottom: 2rem;

  span {
    margin-left: 1rem;
  }
}

.container {
  padding: 3rem;
}

.groupComponents {
  display: flex;
  padding-left: 1rem;
}

.itemComponent {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  span {
    font-weight: bold;
  }
}

.dropdown {
  height: unset;
  width: 10rem;
}
